.button {
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #f8df1f;
  border-radius: 0.5em;
}
.cap {
  text-transform: uppercase;
  color: #ee252f;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.header {
  background-color: #f8df1f;
}
.header ul li {
  display: inline-block;
  margin: 1.5em;
  background-color: #f8df1f;
}
.header ul li a {
  padding: 1em;
  background-color: #f8df1f;
  text-transform: uppercase;
  color: #ee252f;
}
.header #banner {
  background-image: url("banner-bg.png");
  width: 100%;
  max-width: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #383838;
}
.header #banner img {
  opacity: 0.33;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.header .logo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .button button {
  text-align: end;
  position: absolute;
  padding: 0.6em;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ee252f;
  border-radius: 0.5em;
  background-color: #f8df1f;
}
button {
  background-color: #f8df1f;
  margin: 0.8em;
  text-align: center;
}
.container .row {
  margin: 1em;
}
.container img {
  margin-top: 6em;
}
#main .row {
  padding: 3em;
  background-color: #f3f3f3;
}
.footer {
  background-color: #080801;
  padding: 2em;
}
.footer img {
  margin-left: 40%;
  margin-bottom: 10%;
}
