// out: ../css/main.css

@import 'variables';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: @h1;
}

  


.header {
    background-color: @yellow;
   
    ul li{
        display: inline-block;
        margin: 1.5em;
        background-color: @yellow;
    }

     ul li a{
        padding: 1em;
        background-color: @yellow;
        .cap();
    }

    #banner{
        background-image: url("banner-bg.png");
        width: 100%;
        max-width: 1500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; 
        background-color: @primary-color;
    

        img{
            opacity: .33;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
           
      } 
    }


    .logo{
         text-align: center;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
    }


     .button {
       button {
         text-align:end;
         position: absolute;
         padding: .6em;
         top: 65%;
         left: 50%;
         transform: translate(-50%, -50%);
         color: @red;
         border-radius: .5em;
         background-color: @yellow;
        }
    }
}

button{
    background-color: @yellow;
    margin: .8em;
    text-align: center;
}

.container{
    .row{
        margin: 1em;
    }

    img{
        margin-top: 6em;
    }
}
#main{
    .row{
        padding: 3em;
        background-color: @white;
        
        }
}

.footer{
    background-color: @black;
    padding: 2em;

    img{
    margin-left: 40%;
    margin-bottom: 10%;
    }
}


