// out: false

@import 'variables';




.button{
        padding: .5em;
        text-transform: uppercase;
        background-color: @yellow;
        border-radius: .5em;
    } 

    .cap{
        text-transform: uppercase;
        color: @red;
       }

   






   